---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  portability-*,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor
WarningsAsErrors: >-
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  portability-*,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor
HeaderFilterRegex: '(^|.*/)(include|src)/'
ExcludeHeaderFilterRegex: '(^|.*/)(tests|build|schema|cmake)/'
FormatStyle: file
