---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor
WarningsAsErrors: >-
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
HeaderFilterRegex: '(^|.*/)(include|src)/'
ExcludeHeaderFilterRegex: '(^|.*/)(tests|build|schema|cmake)/'
FormatStyle: file
